@model SisFiespApplication.Models.Avaliacao

@{
    ViewData["Title"] = "Editar Avaliacao";
    Layout = "~/Views/Shared/_Layout.cshtml";


    Aluno aluno = (Aluno)ViewData["Aluno"];

}
<div class="page-wrapper" id="pagina">
    <!-- Page-header start -->
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="icofont icofont-paper bg-c-yellow"></i>
                    <div class="d-inline">
                        <h4>Avaliações</h4>
                        <span>Editar Avaliação</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Avaliações</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Editar Avaliação</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <!-- Tab variant tab card start -->
                <div class="card">
                    <div class="card-block" style="height:120px;">
                        <div class="row">
                            <div class="col-sm-12 col-xl-3 m-b-30">
                                <h4 class="sub-title">Aluno</h4>
                                <select name="alunoCodigo" id="alunoCodigo" disabled="disabled" class="form-control form-control-primary" onchange="buscarDados()">
                                    <option value="">  </option>
                                    @if (ViewData["Alunos"] as IEnumerable<Aluno> != null)
                                    {
                                        foreach (var Aluno in ViewData["Alunos"] as IEnumerable<Aluno>)
                                        {
                                            if (Aluno.Codigo.Equals(aluno.Codigo))
                                            {
                                                <option selected="selected" value="@Aluno.Codigo">@Aluno.Nome</option>
                                            }
                                            else
                                            {
                                                <option value="@Aluno.Codigo">@Aluno.Nome</option>
                                            }

                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-sm-12 col-xl-3 m-b-30">
                                <h4 class="sub-title">Especialista</h4>
                                <select name="usuarioCodigo" id="usuarioCodigo" disabled="disabled" class="form-control form-control-primary">
                                    <option value="">  </option>
                                    @if (ViewData["Usuarios"] as IEnumerable<Usuario> != null)
                                    {
                                        foreach (var Usuario in ViewData["Usuarios"] as IEnumerable<Usuario>)
                                        {
                                            if (Usuario.Nome.Equals(aluno.EspecialistaAluno))
                                            {
                                                <option selected="selected" value="@Usuario.Codigo">@Usuario.Nome</option>
                                            }
                                            else
                                            {
                                                <option value="@Usuario.Codigo">@Usuario.Nome</option>
                                            }

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <input style="position: absolute;top: 63px;right: 406px;" type="button" onclick="location.href='@Url.Action("Index", "Avaliacoes")'" value="Voltar" class="btn btn-danger" />
                    </div>
                    <div class="card-block tab-icon" id="dados" style="height:570px;">
                        <!-- Row start -->
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <!-- <h6 class="sub-title">Tab With Icon</h6> -->
                                <div class="sub-title">Dados</div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs md-tabs " role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#home7" role="tab"><i class="icofont icofont-ui-user"></i>Aluno</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#profile7" role="tab"><i class="icofont  icofont-home "></i>Escola</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#messages7" role="tab"><i class="icofont icofont-fountain-pen"></i>Observações</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#settings7" role="tab"><i class="icofont icofont-ui-settings"></i>Avaliação</a>
                                        <div class="slide"></div>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content card-block">
                                    <div class="tab-pane active" id="home7" role="tabpanel">
                                        <div class="card">
                                            <div class="card-block user-detail-card" style="height:410px;">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <img src="~/assets/images/widget/Group-user.jpg " alt="" class="img-fluid p-b-10">
                                                        <div class="contact-icon">
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="View"><i class="icofont icofont-eye m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Print"><i class="icofont icofont-printer m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Download"><i class="icofont icofont-download-alt m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Share"><i class="icofont icofont-share m-0"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 user-detail">
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-ui-user"></i>Nome :</h6>
                                                            </div>
                                                            <div id="nomeAluno" class="col-sm-7">@aluno.Nome </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-ui-calendar"></i>Data Nascimento :</h6>
                                                            </div>
                                                            <div id="dtNascimentoAluno" class="col-sm-7">
                                                                @aluno.DtNascimento
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-education"></i>Modalidade/Fase :</h6>
                                                            </div>
                                                            <div id="modalidadeAluno" class="col-sm-7">
                                                                @aluno.ModalidadeAluno
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-stethoscope"></i>Diagnótico :</h6>
                                                            </div>
                                                            <div id="diagnosticoAluno" class="col-sm-7">
                                                                @aluno.DiagnoscoAluno
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-people"></i>Apoio Escolar :</h6>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <h6 class="m-b-30">Alterar</h6>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-woman-in-glasses"></i>Nome Mãe :</h6>
                                                            </div>
                                                            <div id="nomeMaeAluno" class="col-sm-7">
                                                                @aluno.NomeMae
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-waiter"></i>Nome Pai :</h6>
                                                            </div>
                                                            <div id="nomePaiAluno" class="col-sm-7">
                                                                @aluno.NomePai
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-ui-weather"></i>Turno :</h6>
                                                            </div>
                                                            <div id="turnoAluno" class="col-sm-7">

                                                                @{ if (@aluno.Turno == 1)
                                                                    {
                                                                        @Html.Raw("Manhã");
                                                                    }
                                                                    else if (@aluno.Turno == 2)
                                                                    {
                                                                        @Html.Raw("Tarde");
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.Raw("Noite");
                                                                    }
                                                                }
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="profile7" role="tabpanel">
                                        <div class="card">
                                            <div class="card-block user-detail-card" style="height: 410px;">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <img src="~/assets/images/widget/Group-user.jpg " alt="" class="img-fluid p-b-10">
                                                        <div class="contact-icon">
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="View"><i class="icofont icofont-eye m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Print"><i class="icofont icofont-printer m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Download"><i class="icofont icofont-download-alt m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Share"><i class="icofont icofont-share m-0"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 user-detail">
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-numbered"></i>Nº UE :</h6>
                                                            </div>
                                                            <div id="nueEscola" class="col-sm-7">
                                                                @aluno.NueEscolaAluno
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-book-alt"></i>Escola :</h6>
                                                            </div>
                                                            <div id="nomeEscola" class="col-sm-7">
                                                                @aluno.EscolaNome
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-ui-cell-phone"></i>Telefone :</h6>
                                                            </div>
                                                            <div id="telefoneEscola" class="col-sm-7">
                                                                @aluno.TelefoneEscolaAluno
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-ui-call"></i>Telefone 2 :</h6>
                                                            </div>
                                                            <div id="telefone2Escola" class="col-sm-7">
                                                                @aluno.Telefone2EscolaAluno
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-globe-alt"></i>Cidade :</h6>
                                                            </div>
                                                            <div id="cidadeEscola" class="col-sm-7">
                                                                @aluno.CidadeEscolaAluno
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-ui-map"></i>Bairro :</h6>
                                                            </div>
                                                            <div id="bairroEscola" class="col-sm-7">
                                                                @aluno.BairroEscolaAluno
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-user"></i>Diretor(a) :</h6>
                                                            </div>
                                                            <div id="diretorEscola" class="col-sm-7">
                                                                @aluno.DiretorEscolaAluno
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-user"></i>CP 1 :</h6>
                                                            </div>
                                                            <div id="cp1Escola" class="col-sm-7">
                                                                @aluno.CP1EscolaAluno
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h6 class="f-w-400 m-b-30"><i class="icofont icofont-user"></i>CP 2 :</h6>
                                                            </div>
                                                            <div id="cp2Escola" class="col-sm-7">
                                                                @aluno.CP2EscolaAluno
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="messages7" role="tabpanel">
                                        <div class="card">
                                            <div class="card-block user-detail-card" style="height:410px;">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <img src="~/assets/images/widget/Group-user.jpg " alt="" class="img-fluid p-b-10">
                                                        <div class="contact-icon">
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="View"><i class="icofont icofont-eye m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Print"><i class="icofont icofont-printer m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Download"><i class="icofont icofont-download-alt m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Share"><i class="icofont icofont-share m-0"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 user-detail">
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <textarea id="observacaoAluno" rows="15" cols="75">@aluno.Observacao</textarea>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="settings7" role="tabpanel">
                                        <div class="card">
                                            <div class="card-block user-detail-card" style="height:410px;">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <img src="~/assets/images/widget/Group-user.jpg " alt="" class="img-fluid p-b-10">
                                                        <div class="contact-icon">
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="View"><i class="icofont icofont-eye m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Print"><i class="icofont icofont-printer m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Download"><i class="icofont icofont-download-alt m-0"></i></button>
                                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Share"><i class="icofont icofont-share m-0"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 user-detail">
                                                        <div class="row">
                                                            <div class="col-sm-10">

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Row end -->
                    </div>
                </div>
                <!-- Tab variant tab card start -->
            </div>
        </div>

        <div class="row" id="detalheAvaliacao"></div>
        <script>
                $.get('@Url.Action("PartialAvaliacao", "Avaliacoes")', { id: @Model.Codigo }, function (content) {
                    $("#detalheAvaliacao").html(content);
                });
        </script>
    </div>
</div>
